html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

  .form_box{
   width: 450px;
   height: 300px;
   background-color: floralwhite;
   border-radius: 3px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .login_container{
   margin: 0 auto;
   padding-left: 25;
 }

 .avatar_box {
   height: 130px;
   width: 130px;
   border: 1px solid #eee;
   border-radius: 50%;
   padding: 10px;
   box-shadow: 0 0 10px #dddddd;
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: floralwhite;

  }

  .btn_submin {
    width: 350px;
    height: 40px;
    color: #fff;
    background-color: #0bc5de;
    line-height: 40px;
    text-align: center;
    border: 0px;
}
.btn_reset {
  width: 350px;
  height: 40px;
  color: #fff;
  background-color: #0bc5de;
  line-height: 40px;
  text-align: center;
  border: 0px;
}


.login_form {
    position: absolute;
    bottom: 0;
    width: 90%;
    font-size: 1.2em;
    display: block;
    outline: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -175px;
}
